nav{
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px){
  nav{
    flex-direction: column;
  }
  nav a{
    border-bottom: solid black;
    border-radius: 0%;
  }
}

nav a{
  background-color: blue;
  color: white;
  padding: 20px;
  border-radius: 25%;
}
